
<section >
  <div class="title">
    <h3>Productos 100% del campo</h3>
    <p>Se como las frutas, bella por fuera saludable por dentro</p>
  </div>

  <div class="primera_parte">
  <div class="contenedor1">
    <div class="menu"  >
      <h3> Fresas </h3>
      <img src="assets/img/Frutas/fresas.jpg" alt="">
      <ul  >
        <li>{{Fresa.nombre}}</li>
        <li>$ {{Fresa.costByGram}} g.</li>
      </ul>
      <button class="btnSeleccionar" (click)="selectProduct('Fresa')"> Agregar </button>
    </div>
    <div class="menu">
      <h3> Manzanas </h3>
     <img src="assets/img/Frutas/manzanas.jpg" alt="">
     <ul>
      <li>{{Manzana.nombre}}</li>
      <li>$  {{Manzana.costByGram}} g.</li>
    </ul>
    <button class="btnSeleccionar" (click)="selectProduct('Manzanas')">Agregar</button>
    </div>
    <div class="menu">
      <h3> Naranjas </h3>
      <img src="assets/img/Frutas/naranja.jpg" alt="">
      <ul>
        <li>{{Naranja.nombre}}</li>
        <li>$  {{Naranja.costByGram}} g.</li>
      </ul>
      <button class="btnSeleccionar" (click)="selectProduct('Naranja')">Agregar</button>
    </div>
  </div>

  <div class="contenedor1">
    <div class="menu">
      <h3>Platano</h3>
      <img src="assets/img/Frutas/platanos.jpg" alt="">
      <ul>
        <li>{{Platano.nombre}}</li>
        <li>$ {{Platano.costByGram}} g.</li>
      </ul>
      <button class="btnSeleccionar"  (click)="selectProduct('Platano')">Agregar</button>
    </div>
    <div class="menu">
      <h3> Sandias </h3>
      <img src="assets/img/Frutas/sandia.jpg" alt="">
      <ul>
        <li>{{Sandia.nombre}}</li>
        <li>$ {{Sandia.costByGram}} g.</li>
      </ul>
      <button class="btnSeleccionar" (click)="selectProduct('Sandia')">Agregar</button>
    </div>
    <div class="menu">
      <h3> Uvas </h3>
      <img src="assets/img/Frutas/uvas.jpg" alt="">
      <ul>
        <li>{{Uvas.nombre}}</li>
        <li>$  {{Uvas.costByGram}} g.</li>
      </ul>
      <button class="btnSeleccionar" (click)="selectProduct('Uvas')">Agregrar</button>
    </div>
  </div>
  </div>
</section>

 <section class="section">
  <form class="formulario">
    <h4> Productos de nuestra canasta </h4> <br>
    <label>Su fruta seleccionada es:</label>

    <h2 *ngIf="agregar">{{product}} <p *ngIf="agregar"> $ {{precio}}g</p></h2>
      <!-- <input type="text" class="form-control" placeholder="Producto" *ngIf="product" {{agregar}}> -->
      <input type="number" class="form-control" placeholder="Gramos">
      <p>Digite la cantidad de gramos que desea llevar</p>
      <button class="btn" type="submit" >Calcular</button>
      <button class="btn" type="submit">Guardar</button>


  </form>
 </section>
